{% extends 'base.html'%}
{% load static %}

{% block css %}
    <link href="{% static '/css/css.css' %}" rel='stylesheet'>
{% endblock %}

{% block content %}
    <div>
        {% for category in categorys %}
            <h2> {{ category.name }}</h2>
            <a> {{ category.description }}</a>
        {% endfor %}
     </div>
    <h3>Hello</h3>
        <p>
            {% if promo %}
              True
            {% else %}
              False
            {% endif%}
        <div>
            {% for product in products %}
                <h1>{{ product.name }}</h1>
                <a href=""> {{ product.prise}} </a>
            {% endfor %}
        </div>
        </p>
    <button onclick="location.href = '{% url 'index'%}';"> Переход </button>
        <div><a href="{% url 'users:login' %}">логин</a></div>
        <div><a href="{% url 'users:registration' %}">регистрация</a></div>
        <div><a href="{% url 'users:logout' %}">Выйти</a></div>
{% endblock %}


